html, body{
    background-color: rgb(3, 152, 158);
}   


.image-container-register{
    background-image: url('../images/nuevo_album.png');
    background-repeat: no-repeat;
    margin-top: 80px;
    height: 90px;
    width: auto;
}

.picture{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: large;
}

.container{
    margin-top: 30px;
}

.pic{
    background-image: url('../images/nuevo_album_cover.png');
    background-repeat: no-repeat;
    width: 50%;
    height: 40vh;
}

.imagen{
    margin-top: -20px;
}

.picture-loaded{
    width: 250px;
    height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-bottom: 50px;
    /*margin-left: -10em;*/
}



form{
    margin-bottom: 50px;
}

.centrado{
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.centrado-button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

#sendButton{
    font-size: larger;
    font-weight: 500;
    padding: 0.5em;
}

.radio{
    width: 100%;
    display: flex;
    justify-content: center;
}