html, body{
    background-color: rgb(3, 152, 158);
    overflow-x: hidden;
}

.image-container-register{
    background-image: url('../images/editar.png');
    background-repeat: no-repeat;
    margin-top: 80px;
    height: 90px;
    width: auto;
}

.picture{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: large;
}

.container{
    margin-top: 30px;
}

.pic{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
}

.imagen{
    margin-top: -20px;
}

.picture-loaded{
    width: 250px;
    height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-bottom: 50px;
    /*margin-left: -10em;*/
}



form{
    margin-bottom: 50px;
}



.centrado{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    font-size: 20px;
}


.entradas{
    width: 30em;
}

/* Estilos para pantallas de minimo 360px y maximo 500px de anchura */
@media screen and (min-width: 360px) and  (max-width: 500px){
    .entradas{
        width: 20em;
    }
}

/* Estilos para pantallas de maximo 360px de anchura */
@media screen and (max-width: 360px){
    .entradas{
        width: 15em;
    }
}

#sendButton{
    margin-top: 20px;
    font-size: large;
    padding: 0.4em 1.5em;
}