/* Hoja de estilos para el index */

html, body{
    overflow-x: hidden;
    background-color: rgb(30, 82, 112); 
}

.cover{
    background-image: url('../images/cover2.png');
    background-repeat: no-repeat;
    height: 90vh;
    weight: 100%;
    margin-top: 2em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#bienvenida{
    display: none;
}

/* Para pantallas de anchura maxima de 1024px */
@media screen and (max-width: 1024px){
    .cover{
        background-image: url('../images/album.jpg');
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        background-blend-mode: darken;
        font-size: x-large;
    }
    #bienvenida{
        display: block;
    }
    .title{
        display: none;
    }
    
    #searchTitle{
        display: block !important;
        color: white;
    }

    .search-form{
        padding: 2em;
    }

    #searcher{
        width: 99% !important;
    }

}

#searchTitle{
    display: none;
}

.d-block{
    height: 20em;
}

.search-form{
    background-color: rgb(30, 82, 112); 
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}


#searcher{
    width: 40em;
}

.title{
    margin-top: 1em;
    height: 80px;
    width: 100%;
    background-image: url('../images/busqueda.png');
    background-size: cover;
    margin-bottom: 20px;
    margin-left: -10px;
}
.opciones{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio, .filtro{
    background-color: rgb(3, 152, 158);
    color: white;
    font-weight: 600;
}

.send-button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
