<!-- BEGIN ALBUMPRIVADO -->
<div class="card">
    <div class="contenedor-imagen">
        <div class="image-container-albums" style="background-image: url('{IMAGEN}');"></div>
    </div>
    <div class="card-body">
        <h5 class="card-title">{TITULO}</h5>
        <p class="card-text">{DESCRIPCION}</p>
        <div class="bottom">
            <a href='../albumes/ver_album.php?album={LINK}'>Ver álbum</a>
            <p class="card-text b">{FECHA}</p>
            <p class="card-text b">{TEMA}</p>
        </div>
        <div class="invitacion">
            {INVITACION}
        </div>
    </div>
</div>
<!-- END ALBUMPRIVADO -->