<!-- BEGIN FOTO -->
<div class="elemento">
    <div class="tarjeta">
        <div class="foto-album" style="background-image: url('{URL_IMAGEN}');"></div>
        <div class="contenido-tarjeta">
            <div class="calificaciones">
                <form>
                    <p class="clasificacion">
                        <input id="radio1" type="radio" name="estrellas" value="5">
                        <label for="radio1">★</label>
                        <input id="radio2" type="radio" name="estrellas" value="4">
                        <label for="radio2">★</label>
                        <input id="radio3" type="radio" name="estrellas" value="3">
                        <label for="radio3">★</label>
                        <input id="radio4" type="radio" name="estrellas" value="2">
                        <label for="radio4">★</label>
                        <input id="radio5" type="radio" name="estrellas" value="1">
                        <label for="radio5">★</label>
                    </p>
                </form>
            </div>
            <hr>
            <h5>Comentarios</h5>
            <div class="comentarios">
                <div class="card comment tarjeta">
                    <div class="encabezado">
                        <div class="imagen-perfil" style="background-image: url('../static/uploads/me.jpg');"></div>
                        <div class="user-container">
                            <p class="user">Allan Jair Escamilla Hernández</p>
                        </div>
                    </div>
                    <div class="cuerpo-comentario">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia est, praesentium tenetur
                            voluptate modi facere unde! Esse quod quo necessitatibus, ad tempore tenetur quisquam nemo
                            ipsa itaque et voluptatibus nesciunt?</p>
                    </div>
                </div>
                <div class="card comment tarjeta">
                    <div class="encabezado">
                        <div class="imagen-perfil" style="background-image: url('../static/uploads/me.jpg');"></div>
                        <div class="user-container">
                            <p class="user">Allan Jair Escamilla Hernández</p>
                        </div>
                    </div>
                    <div class="cuerpo-comentario">
                        <p>No, la neta no me gustó bro</p>
                    </div>
                </div>
                <div class="card comment tarjeta">
                    <div class="encabezado">
                        <div class="imagen-perfil" style="background-image: url('../static/uploads/me.jpg');"></div>
                        <div class="user-container">
                            <p class="user">Allan Jair Escamilla Hernández</p>
                        </div>
                    </div>
                    <div class="cuerpo-comentario">
                        <p>Este es un comentario de pruebaaas</p>
                    </div>
                </div>
                <div class="hacer-comentario">
                    <form class="form-inline">
                        <div class="form-group mx-sm-3 mb-2">
                            <label for="comentary" class="sr-only">Comentario...</label>
                            <input type="text" class="form-control" id="comentary" placeholder="Comentario...">
                        </div>
                        <button type="button" class="btn btn-primary mb-2">Comentar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- END FOTO -->