<!-- BEGIN TODOS_ALBUMES -->
<div class="misAlbumes">
    <div class="contenedor" style="background-image: url('{IMAGEN}');"></div>
    <div class="card" style="width: 90%;">
        <div class="card-body">
            <h5 class="card-title">Fotografía</h5>
            <div class="info-album">
                <a href="../albumes/ver_album.php?album={LINK2}" class="btn btn-primary">Ver en álbum</a>
                <p class="propietario">Comentarios: {COMENTARIO}</p>
            </div>
        </div>
    </div>
</div>
<!-- END TODOS_ALBUMES -->