{FLAG}
<div class="content">
    <div class="row">
        <div class="col-3">
            <div class="bienvenida">
                <div class="colorFondo">
                    <div class="imagen">
                        <div class="image-profile" style="background-image: url('{IMAGEN_PERFIL}');"></div>
                    </div>
                    <div class="textoBienvenida">
                        <h3 id="nombreUsuario" >{NOMBRE} {AP_PAT} {AP_MAT}</h3>
                    </div>
                </div>
                
                <div class="textoMisAlbumes">
                    <h5>Mis álbumes</h5>
                </div>
                
                {ALBUMES}
                
                <div class="space-blank"></div>
            </div>
        </div>
        <div class="col-6 albumes">
            <h3 id = "albumesTitle">Álbum(es)</h3>
            <div class="busquedas">
                {ALBUMES_USUARIOS}
            </div>
        </div>

        <div class="col-3 busqueda">
            <div class="barra-busqueda">
                <form name= "formulario">
                    <div class="form-group">
                        <input type="text" class="form-control" id="searcher" name="searcher" placeholder="Ingresa aquí tu búsqueda" onkeyup="buscador()">
                    </div>
                    <div class="opciones">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary filtro active">
                                <input type="radio" name="options" id="option1" autocomplete="off" class="radio active" value="nombre" checked> Usuario
                            </label>
                            <label class="btn btn-secondary filtro">
                                <input type="radio" name="options" id="option2" autocomplete="off" class="radio" value="titulo"> Título
                            </label>
                            <label class="btn btn-secondary filtro">
                                <input type="radio" name="options" id="option3" autocomplete="off" class="radio" value="tema"> Tema
                            </label>
                            <label class="btn btn-secondary filtro">
                                <input type="radio" name="options" id="option3" autocomplete="off" class="radio" value="fecha"> Fecha
                            </label>
                            <label class="btn btn-secondary filtro">
                                <input type="radio" name="options" id="option3" autocomplete="off" class="radio" value="todos"> Todos
                            </label>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>