{FLAG}
<div class="content">
    <div class="row">
        <div class="col-3">
            <div class="bienvenida">
                <div class="colorFondo">
                    <div class="imagen">
                        <div class="image-profile" style="background-image: url('{IMAGEN_PERFIL}');"></div>
                    </div>
                    <div class="textoBienvenida">
                        <h3 id="nombreUsuario" >{NOMBRE} {AP_PAT} {AP_MAT}</h3>
                    </div>
                </div>
                
                <div class="textoMisAlbumes">
                    <h5>Mis álbumes</h5>
                </div>
                
                {ALBUMES}
                
                <div class="space-blank"></div>
            </div>
        </div>
        <div class="col-6 albumes">
            <h3 id = "albumesTitle">Álbumes de todos los usuarios</h3>
            <div class="misAlbumes">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Titulo de álbum</h5>
                        <p class="card-text">Descripcion.</p>
                        <a href="#" class="btn btn-primary">Ver álbum</a>
                    </div>
                </div>
            </div>
            <div class="misAlbumes">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Titulo de álbum</h5>
                        <p class="card-text">Descripcion.</p>
                        <a href="#" class="btn btn-primary">Ver álbum</a>
                    </div>
                </div>
            </div>
            <div class="misAlbumes">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Titulo de álbum</h5>
                        <p class="card-text">Descripcion.</p>
                        <a href="#" class="btn btn-primary">Ver álbum</a>
                    </div>
                </div>
            </div>
            <div class="misAlbumes">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Titulo de álbum</h5>
                        <p class="card-text">Descripcion.</p>
                        <a href="#" class="btn btn-primary">Ver álbum</a>
                    </div>
                </div>
            </div>
            <div class="misAlbumes">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Titulo de álbum</h5>
                        <p class="card-text">Descripcion.</p>
                        <a href="#" class="btn btn-primary">Ver álbum</a>
                    </div>
                </div>
            </div>
            <div class="misAlbumes">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Titulo de álbum</h5>
                        <p class="card-text">Descripcion.</p>
                        <a href="#" class="btn btn-primary">Ver álbum</a>
                    </div>
                </div>
            </div>
            <div class="misAlbumes">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Titulo de álbum</h5>
                        <p class="card-text">Descripcion.</p>
                        <a href="#" class="btn btn-primary">Ver álbum</a>
                    </div>
                </div>
            </div>
            <div class="misAlbumes">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Titulo de álbum</h5>
                        <p class="card-text">Descripcion.</p>
                        <a href="#" class="btn btn-primary">Ver álbum</a>
                    </div>
                </div>
            </div>
            <div class="misAlbumes">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Titulo de álbum</h5>
                        <p class="card-text">Descripcion.</p>
                        <a href="#" class="btn btn-primary">Ver álbum</a>
                    </div>
                </div>
            </div>
            <div class="misAlbumes">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Titulo de álbum</h5>
                        <p class="card-text">Descripcion.</p>
                        <a href="#" class="btn btn-primary">Ver álbum</a>
                    </div>
                </div>
            </div>
            <div class="misAlbumes">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Titulo de álbum</h5>
                        <p class="card-text">Descripcion.</p>
                        <a href="#" class="btn btn-primary">Ver álbum</a>
                    </div>
                </div>
            </div>
            <div class="misAlbumes">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Titulo de álbum</h5>
                        <p class="card-text">Descripcion.</p>
                        <a href="#" class="btn btn-primary">Ver álbum</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-3 busqueda">
            <div class="barra-busqueda">
                <div class="form-group">
                    <input type="text" class="form-control" id="searcher" placeholder="Ingresa aquí tu búsqueda">
                </div>
                <div class="opciones">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary filtro">
                            <input type="radio" name="options" id="option1" autocomplete="off" class="radio"> Nombre
                        </label>
                        <label class="btn btn-secondary filtro">
                            <input type="radio" name="options" id="option2" autocomplete="off" class="radio"> Título
                        </label>
                        <label class="btn btn-secondary filtro">
                            <input type="radio" name="options" id="option3" autocomplete="off" class="radio"> Tema
                        </label>
                        <label class="btn btn-secondary filtro">
                            <input type="radio" name="options" id="option3" autocomplete="off" class="radio"> Fecha
                        </label>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>