{FLAG}
<a href="../users/profile.php">
    <li>Inicio</li>
</a>    
<a href="../notificaciones/notificaciones.php">
    <li>Notificaciones<span class="badge badge-light"></span></li>
</a>
<a href="../albumes/mis_albumes.php">
    <li>Álbumes</li>
</a>
<a href="../albumes/crear_album.php">
    <li>Crear album</li>
</a>
<a href="../albumes/subir_foto.php">
    <li>Subir foto</li>
</a>
<a href="../users/infoPerfil.php">
    <li>Perfil</li>
</a>
<a href="../users/logout.php">
    <li>Cerrar sesión</li>
</a>

<li>
    <div class="dropdown-mobile">
        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Opciones
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">
                Álbumes destacados
            </a>
            <a class="dropdown-item" href="#">
                Notificaciones
            </a>
            <a class="dropdown-item" href="#">
                Álbumes
            </a>
            <a class="dropdown-item" href="infoPerfil.php">
                Perfil
            </a>
            <a class="dropdown-item" href="../users/logout.php">
                Cerrar sesión
            </a>

        </div>
    </div>
</li>
<script src="../static/js/notificaciones.js"></script>