{FLAG}
<a href="profile.php">
    <li>Inicio</li>
</a>
<a href="#">
    <li>Álbumes destacados</li>
</a>
<a href="#">
    <li>Notificaciones</li>
</a>
<a href="#">
    <li>Álbumes</li>
</a>
<a href="infoPerfil.php">
    <li>Perfil</li>
</a>
<a href="../users/logout.php">
    <li>Cerrar sesión</li>
</a>

<li>
    <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Opciones
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">
                Álbumes destacados
            </a>
            <a class="dropdown-item" href="#">
                Notificaciones
            </a>
            <a class="dropdown-item" href="#">
                Álbumes
            </a>
            <a class="dropdown-item" href="infoPerfil.php">
                Perfil
            </a>
            <a class="dropdown-item" href="../users/logout.php">
                Cerrar sesión
            </a>

        </div>
    </div>
</li>