{FLAG}
<a href="users/register.html">
    <li>Registrarse</li>
</a>
<a href="users/login.html">
    <li>Login</li>
</a>

<li>
    <div class="dropdown-mobile">
        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Opciones
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="../users/register.html">
                Registrarse
            </a>
            <a class="dropdown-item" href="../users/login.html">
                Login
            </a>
        </div>
    </div>
</li>