<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <!-- ARCHIVOS NECESARIOS PARA USAR BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- HOJAS DE ESTILOS -->
    <link rel="stylesheet" href="../static/css/perfil.css">
    <link rel="stylesheet" href="../static/css/nav.css">
    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="../static/images/favicon.png" />
    <!-- SCRIPT PARA USAR SWEET ALERT -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
</head>

<body>
    <!-- INICIO DE LA BARRA DE NAVEGACION -->
    <header>
        <nav class="navbar navbar-expand-lg fixed-top">
            <a class="navbar-brand" href="../index.html">
                <img src="../static/images/logo.png" class="logo">
            </a>
            <div class="navContent">
                <ul>
                    {LINKS_NAVEGACION}
                </ul>
            </div>
        </nav>
    </header>
    <!-- FIN DE LA BARRA DE NAVEGACION -->

    <!-- CONTENEDOR DE LA IMAGEN DE REGISTRO -->
    <div class="image-container"></div>

    <div class="personal-info">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="image-container-profile">
                        <div class="image" style="background-image: url('{IMAGEN}');"></div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{NOMBRE} {AP_PATERNO} {AP_MATERNO} </h5>
                        <div class="info">
                            <div class="bold">Username: </div> {USERNAME}
                        </div>
                        <div class="info">
                            <div class="bold">Email: </div> {EMAIL}
                        </div>
                        <div class="info">
                            <div class="bold">Dirección: </div> {DIRECCION}
                        </div>
                        <div class="info">
                            <div class="bold">Escolaridad: </div> {ESCOLARIDAD}
                        </div>
                        <div class="info">
                            <div class="bold">Tipo de usuario: </div> {TIPO_USUARIO}
                        </div>
                        <div class="info">
                            <div class="bold">Fecha de nacimiento: </div> {FECNAC}
                        </div>
                        <button type="button" class="btn btn-success" id="histBusq" data-toggle="modal" data-target="#exampleModalLong">
                            Historial de búsquedas
                        </button>
                        <div class="editar">
                            <p>¿Tus datos son incorrectos? <a href="../users/editar.php" id="editar"> Editalos</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Historial de Búsquedas</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Búsqueda</th>
                                <th scope="col">Timestamp</th>
                            </tr>
                        </thead>
                        <tbody>
                            {HISTORIAL}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


</body>

</html>